######################################################################
########	.gitignore
########
########	In order to store the ignored files list outside of
########	the Git tree, one should use the ".git/info/exclude"
########	file.
######################################################################

#  Local GUI file(s).
*.directory

/app.json

/eas.json
