######################################################################
########	.gitignore
########
########	In order to store the ignored files list outside of
########	the Git tree, one should use the ".git/info/exclude"
########	file.
######################################################################

#  Local GUI file(s).
*.directory

/2024-10-20-Google-client_secret.apps.googleusercontent.com.json

/app.json

/eas.json
